<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qtfreet.musicuu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".ui.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="android:icon">


        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="5802e49b" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="" />

        <activity android:name="com.iflytek.autoupdate.IFlytekUpdateDialog" />
        <service android:name="com.iflytek.autoupdate.IFlytekDownloadService" />

        <activity
            android:name=".ui.activity.MainActivity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.VideoActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="landscape" />

        <service
            android:name=".ui.service.MusicService"

            android:exported="false" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchMvActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait" />

        <service
            android:name=".ui.service.DownloadService"
            android:exported="false" />

        <activity
            android:name=".ui.activity.PlayMusicActivity"
            android:exported="false"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchMangoActivity"
            android:exported="false"

            android:screenOrientation="portrait" />


    </application>

</manifest>